/* Variables */
:root {
  --main-color: #292861;
  --black: #000;
  --white: #fff;
  --green: #618d43;

  --primary-font: "Poppins", sans-serif;
}

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: var(--primary-font);
}

input,
textarea,
button,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

input,
button {
  border: none;
  outline: none;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

/* End of CSS RESET */

/* Utility Classes */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.scroll-active {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.semi-bold {
  font-weight: 500;
}
/* End of Utility Classes */

/* === HEADER === */
/* Mobile */
.mobile-nav-menu {
  position: relative;
}

.mobile-nav-menu .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo-container.scroll-active {
  padding-inline: 20px;
}

.mobile-nav-menu .logo {
  width: 75px;
}

.mobile-nav-menu .hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 25px;
}

.hamburger .bar {
  height: 5px;
  width: 100%;
  background-color: var(--black);
  border-radius: 2px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 15;
}

.overlay.active {
  display: block;
}

.mobile-nav-menu .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -70vw;
  width: 70vw;
  height: 100%;
  background-color: var(--white);
  padding: 20px;
  transition: all 0.5s ease-in-out;
  z-index: 20;
}

.nav.active {
  right: 0;
}

.nav .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);
  padding: 10px 12px;
  border-radius: 50%;
}

.mobile-nav-menu .nav-links {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.mobile-nav-menu .nav-link {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

.nav-link a {
  color: var(--black);
}

.nav-link.active a {
  color: var(--green);
}

/* Desktop */
.desktop-nav-menu {
  display: none;
}

.desktop-nav-menu .top-nav {
  background-color: var(--main-color);
  color: var(--white);
}

.top-nav .container {
  justify-content: space-between;
  font-size: 1.6rem;
  padding-block: 1rem;
}

.top-nav i:not(.social-icons i) {
  margin-inline: 1rem 0.5rem;
}

.social-icons a {
  color: var(--white);
  font-size: 1.6rem;
  margin-inline: 1rem;
}

.social-icons a:hover {
  color: var(--green);
}

/* End of HEADER */

/* MAIN CONTENT */
/* carousel */
.carousel-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 10vh);
}

.carousel-container .carousel-images {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-images img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

.carousel-images img:not(.active) {
  top: 0;
  left: -100%;
}

.carousel-btns button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 2.4rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  user-select: none;
  cursor: pointer;
  opacity: 0.5;
  background-color: var(--white);
}

.carousel-btns button:hover {
  opacity: 1;
}

.carousel-btns button.prev-button {
  left: 20px;
}

.carousel-btns button.next-button {
  right: 20px;
}

@keyframes next1 {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@keyframes prev2 {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

/* ABOUT US */
.about-us {
  padding: 40px;
  margin: 50px auto;
}

.about-us h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us p {
  font-size: 1.8rem;
}

.image-content img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

/*=== BACK TO TOP BTN ===*/
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--white);
  padding: 10px 12px;
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
  display: none;
}

.back-to-top:hover {
  background: var(--green);
}

.back-to-top.active {
  display: block;
}
/*=== END OF BACK TO TOP BTN ===*/

/* Media Queries */
@media screen and (min-width: 768px) {
  .mobile-nav-menu,
  .top-nav .email {
    display: none;
  }

  .desktop-nav-menu {
    display: block;
    max-height: 10vh;
  }

  .bottom-nav .container {
    justify-content: space-between;
  }

  .bottom-nav .logo {
    width: 80px;
  }

  .bottom-nav .nav-links {
    font-size: 1.8rem;
    gap: 30px;
    text-transform: uppercase;
  }

  .bottom-nav.scrollactive {
    padding-block: 20px;
  }

  .main {
    position: relative;
    top: 10vh;
  }

  /* ABOUT US */
  .about-us-content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .text-content {
    width: 50%;
    margin-right: 20px;
  }

  .image-content {
    width: 50%;
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  .top-nav .email {
    display: flex;
  }
}
